/* styling the root of the program to avoid styling each section alone */
 :root {
    background-color: #FFF5E1 !important;
    --text-color:#8B4513;
    --header-color:#d61515;
    font-family: "Pacifio" , cursive !important;
    font-size: 16px !important;
   font-weight: bolder !important;
 }

h1,h2,h3,h5 {
    color: var(--header-color);
}
body p {
   
  color: var(--text-color);
  
}
.btn {
  background-color: var(--header-color);
}